<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <%- include('../partials/head.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/src/components/Tabs.js"></script>
    <script src="/src/components/List.js"></script>
</head>
<body>
<div class="column">
    <%- include('../partials/body.ejs') %>
</div>
<section class="section">
    <div class="container" id="app">
        <div class="columns">
            <%- include('../partials/sidebar.ejs') %>
            <div class="column is-four-fifths">
                <div class="field">
                    <div class="control">
                        <input class="input" v-model="filterKey" @keyup.enter="filterList">
                    </div>
                </div>
                <tabs>
                    <tab name="Published" :selected="true">
                        <list :posts="published"></list>
                    </tab>
                    <tab name="Drafts">
                        <list :posts="drafted"></list>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
  var vm = new Vue({
    el: "#app",
    data: {
      filterKey: '',
      drafted: [],
      published: [
        {
          _id: '',
          title: 'Lorem Ipsum',
          content: marked(`<%- include('../partials/dummy/description-md.ejs') %>`),
          owner: {
            name: 'Mahbub Zulkarnain',
            username: '@mahbubzulkarnain'
          }
        },
        {
          _id: '',
          title: '"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."',
          content: marked(`<%- include('../partials/dummy/description-md.ejs') %>`),
          owner: {
            name: 'Mahbub Zulkarnain',
            username: '@mahbubzulkarnain'
          }
        },
        {
          _id: '',
          title: 'Lorem Ipsum 2',
          content: marked(`<%- include('../partials/dummy/description-md.ejs') %>`),
          owner: {
            name: 'Mahbub Zulkarnain',
            username: '@mahbubzulkarnain'
          }
        },
        {
          _id: '',
          title: 'Lorem Ipsum 3',
          content: marked(`<%- include('../partials/dummy/description-md.ejs') %>`),
          owner: {
            name: 'Mahbub Zulkarnain',
            username: '@mahbubzulkarnain'
          }
        },
      ]
    },
    methods: {
      filterList: function () {
        api
          .get('/', {
            params: {
              filter: this.filterKey
            }
          })
          .then(({data}) => {
            console.log(this.filterKey)
            this.published = data;
          })
          .catch((err) => {
            console.log(err)
          })
      }
    },
    mounted() {
      api
        .get('/')
        .then(({data}) => {
          this.published = data;
        })
        .catch((err) => {
          console.log(err)
        })
    }
  })
</script>
<%- include('../partials/footer.ejs') %>
</body>
</html>