<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <%- include('../partials/head.ejs') %>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
<div class="column">
    <%- include('../partials/body.ejs') %>
</div>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <%- include('../partials/sidebar.ejs') %>
            <div class="column is-four-fifths">
                <a href='/read' class="column is-full">
                    <div class="card mb-medium">
                        <div class="card-content">
                            <div class="tags are-medium is-pulled-right"><span
                                        class="tag is-size-7">1 day ago</span></div>
                            <div class="content">
                                <h2 class="title">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
                                    Ipsum Lorem Ipsum</h2>
                                <p id="content"></p>
                            </div>
                            <div class="content">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="image is-48x48">
                                            <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png"
                                                 alt="Placeholder image">
                                        </div>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-5">Mahbub Zulkarnain</p>
                                        <p class="subtitle is-6">@mahbubzulkarnain</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="tags"><span class="tag">One</span><span class="tag">Two</span><span
                                            class="tag">Three</span><span class="tag">Four</span><span
                                            class="tag">Five</span><span class="tag">Six</span><span
                                            class="tag">Seven</span><span class="tag">Eight</span></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>
<script type="text/javascript">
  $(function () {
    $('#content')
      .html(marked(`<%- include('../partials/dummy/description-lg.ejs') %>`))
  })
</script>
</body>
</html>